@charset "UTF-8";

body {
    background-color: #23E8C1;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #0E5C4C;
}
h1#principal {
    text-align: center;
    background-color: #125C3C;
    color: white;
}

h2 {
    color:#179C81;
}
p {
    text-align: justify;
}
.basico {
    color:#179C81;
    font-weight: bolder;
}
.intermediario {
    color:#939c17;
}
.avançado {
    color:#9c1717;
}
.destaque {
    background-color: rgba(255, 255, 0, 0.295);
}