@charset "UTF-8";

body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
h1 {
    background-color: black;
    color: white;
    text-align: center;
}
h2 {
    background-color: lightgray;
    color: black;
}
a {
    color: darkred;
}